<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zetta.memo.page.member.MemberMapper">

    <insert id="joinMember">
        insert into member
            (
            email
            , password
            , nickname
            , phone_number
            , join_at
            )
            values
            (
            #{email}
            , #{password}
            , #{nickname}
            , #{phoneNumber}
            , now()
            )
    </insert>

    <select id="getMember" resultType="com.zetta.memo.page.member.MemberDTO">
        SELECT
            *
            FROM
            member
            where
                email = #{email}
                and password = #{password}
    </select>

</mapper>