<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zetta.memo.page.memo.MemoMapper">

    <select id="selectMemo" resultType="com.zetta.memo.page.memo.MemoDTO">
        select
            writer_id
            , memo
            , category
            , created_at as 'createAt'
            , updated_at as 'updateAt'
        from memo
            order by id desc
    </select>

    <insert id="insertMemo">
        insert into memo
            (
                id
                , writer_id
                , memo
                , category
                , updated_at
            )
            values
            (
                #{id}
                , #{writerId}
                , #{memo}
                , #{category}
                , #{updateAt}
            )
    </insert>

    <update id="updateMemo">
        update memo
            set
                memo = #{memo}
                , category = #{category}
                , updated_at = #{updateAt}
            where
                id = #{id}
    </update>

    <delete id="deleteMemo">
        delete
            from memo
        where
            id = #{id}
    </delete>

</mapper>