<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zetta.memo.page.memo.MemoMapper">

    <select id="selectMemo" resultType="com.zetta.memo.page.memo.MemoDTO">
        select
            id
            , member_id
            , memo
            , category
            , created_at
            , updated_at
        from memo
        <where>
            <if test="memo != null">
                and memo like concat('%', #{memo} ,'%')
            </if>
            <if test="id != null &amp;&amp; id != 0">
                and id = #{id}
            </if>
        </where>

    </select>

    <insert id="insertMemo" useGeneratedKeys="true" keyProperty="id">
        insert into memo
            (
                member_id
                , memo
                , category
            )
            values
            (
                #{memberId}
                , #{memo}
                , #{category}
            )
    </insert>

    <update id="updateMemo">
        update memo
            set
                memo = #{memo}
                , category = #{category}
                , updated_at = #{updateAt}
            where
                id = #{id}
    </update>

    <delete id="deleteMemo">
        delete
            from memo
        where
            id = #{id}
    </delete>

</mapper>