<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zetta.memo.page.member.MemberMapper">
    <select id="getWriters" resultType="com.zetta.memo.page.member.MemberDTO">
        select * from writer;
    </select>

    <insert id="registerWriter">
        insert into writer
            (
            email
            , password
            , nickname
            , phone_number
            , status
            , join_at
            )
            values
            (
            #{email}
            , #{password}
            , #{nickname}
            , #{phone_number}
            , #{status}
            , now()
            )
    </insert>

    <update id="update">
        update
            writer
        set
            email = #{email}
            , password = #{password}
            , nickname = #{nickname}
            , phone_number = #{phoneNumber}
            , status = #{status}
            , update_at = #{updateAt}
        where
            id = #{id}
    </update>

</mapper>