label {
    vertical-align: top;
    margin: 10px 0px;
    display: block;
}

#main-container {
    margin: 20px;
}

#memo-output {
    margin-top: 20px;
}

#memo-output .memo-item {
    border: 1px solid darkgreen;
    margin-top: 10px;
    width: 350px;
    padding: 5px;
}

#memo-ta {
    padding: 5px;
    width: 300px;
    height: 300px;
    resize: none;
}

.memo-del-btn {
    display: inline-block;
    position: relative;
    left: 88%;
}

/* 반응형. 크기가 테블릿 폰 이하면. width 를 100%로 해야겠다. */
@media (max-width: 768px) {
    * {
        font-size: 30px;
    }

    #memo-ta {
        width: 100%;
    }

    #memo-output .memo-item {
        width: 100%;
    }

    div#main-container #submit-memo {
        
    }
}